@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}

body{
  padding-bottom: 218px;
}

main{
  overflow: scroll;
  margin-left: 55px;;
  overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

/* header */
header {
    height: 80px;
    padding-bottom: 50px;    
}

.logo {
    float: left;
    width: 100px;
    padding-top: 50px;
}

.contenu-header {
    width: 480px;
    float: right;
}

.contenu-header ul{
    padding: 50px 80px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenu-header li>a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 48px;
}


/* titres du site */

.hebergement h1 {
    padding-bottom: 16px;
}

.hebergement p{
  margin-bottom: 19px;
}

/* Bar de recherche */

.wrap {
    width: 421px;
    height: 50px;
}

form{
    display: flex;
    flex-direction: row;
}

button{
  font-size: 1.2em;
  font-family: "Raleway";
  font-weight: bold;
}
.search {
    display: flex;
    flex-direction: row;
}

.city-search{
  width: 235px;
  border: 2px solid #F2F2F2;
}

input::placeholder{
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 16px;
}
button{
    background-color: #0065FC;
    color: white;
    width: 133px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    border: 0;
}

.pic-gps {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
}

.pic-gps i{
    padding: 15px 20px 15px;
}



/* info */
.info{
 margin-top: 37px;
 display: flex;
 flex-direction: row;
}

.icon_info{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* barre de filtration */

.filtration{
  width: 931px;
  margin: 20px 0 37px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

  .filtration h3{
    padding-right: 33px;
  }

  .icon_filtre{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    line-height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bulle1{
    width: 193px;
    height: 47px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
  }

  .bulle1.bulle2.bulle3.bulle4>p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  
  .bulle2{
    width: 150px;
    height: 50px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
  }
  
  .bulle3{
    width: 183px;
    height: 50px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
  }

  .bulle4{
    width: 243px;
    height: 50px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
  }

  
/* Logement Partie 1 */

.logement{
    display: flex;
    flex-direction: row;
  }
  
  
  .logement h2{
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  
  
  .marseille {
    width:878px;
    height: 623px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
  }
  
  .gallery1 {
    height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .case1{
    width: 245px;
    height: 200px;
    padding: 5px 5px 10px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
    filter: drop-shadow(4px 5px 2px #a9a9ac);
  }

  
.case1 img {
      width: 235px;
      height: 115px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
  }
  
  
/* Logement Partie 2 */
  
.popular {
  width:417px;
  height: 623px;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.gallery2 {
  height: 545px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.case2{
  width: 343px;
  height: 145px;
  padding: 5px 5px 5px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  filter: drop-shadow(4px 5px 2px #a9a9ac);
}

.case2 img {
  width: 127px;
  height: 135px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.prices{
  display: flex;
  flex-flow: column;
  padding-top: 20px;
  padding-left: 20px;
}


.stars{
  display: flex;
  flex-direction: row;

}

/* Activités à Marseille */

.activity {
  padding-top: 65px;
}

.activity h3{
  padding-top:  23px ;
  padding-left: 19px;
}

.gallery3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div_haute{
  width: 303px;
  height: 447px;
  filter: drop-shadow(5px 10px 4px #a9a9ac);
  
}

.div_haute>p{
  padding-top: 23px;
}

.div_haute>img{
  height: 390px;
  width: 303px;
  border-radius: 20px;
  object-fit: cover;
}

.div_basse{
  width: 303px;
  height: 235px;
  filter: drop-shadow(5px 10px 4px #a9a9ac);
}

.div_basse>img{
  width: 303px;
  height: 180px;
  object-fit: cover;
}

/* footer */

footer {
    background-color: #F2F2F2;
    width: 100vw;
    height: 218px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-footer {
    width: 1070px;
    padding-top: 50px;
    padding-left: 50px;
    
}

.liste {
    display: flex;
    flex-direction: column;
}
.liste a {
    padding-top: 30px;
}

.liste li{
    padding-top: 20px;
}
