/*écrans la taille inférieure à 980px*/
@media screen and (max-width: 980px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
  }

  main {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* header */

  header {
    width: 100vw;
    height: auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    min-height: 40px;
    display: inline;
  }

  .head {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .head ul {
    padding: 0;
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
  }

  .head li {
    flex-basis: 50%;
    text-align: center;
    flex-direction: column-reverse;
  }

  .sign {
    order: 3;
    flex-direction: column-reverse;
    text-align: end;
    right: 0;
    border-bottom: none;
  }

  .head a {
    padding-bottom: 5%;
    border-bottom: 3px white solid;
  }

  .head a:hover {
    padding-bottom: 5%;
    border-bottom: 3px #0065fc solid;
    border-top: none;
    color: #0065fc;
  }

  .logo {
    padding: 35px;
    width: 45%;
    padding-left: 20px;
    margin: 0;
    float: left;
    display: inline;
  }
  .logo img {
    padding-top: 0;
    width: 100%;
  }

  /* Titres entête */

  .hebergement {
    flex-direction: column;
    margin: 10% 5% 5%;

    font-size: 1rem;
  }

  /* searchbar */
  .search {
    width: auto;
  }

  .search {
    width: auto;
    padding: 0 20px 38px;
    align-items: baseline;
  }
  form {
    width: auto;
    box-sizing: border-box;
  }
  button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  /* Filtres */

  .filtration {
    padding: 0 5% 0;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filtration h3 {
    display: block;
    margin: 0 10% 5%;
    font-weight: bold;
  }
}

.bulles {
  flex-direction: row;
  flex-wrap: wrap;
}

.bulle1,
.bulle2,
.bulle3,
.bulle4 {
  margin-right: 14px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  transform: scale(1);
}

/* Partie logement */

/* PArtie info */

.info {
  margin: 0 0 10%;
  padding: 0 5% 0;
}

/* Logement Populaire */

.popular {
  padding: 0;
  margin: 0;
  width: 100vw;
  border-radius: 0;
}

.logement {
  width: 100vw;
  padding: 0;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.toplist {
  margin-right: 5%;
}

.gallery2 {
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.photo_row3 {
  width: 100vw;
  padding: 0 5% 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.case2 {
  width: 95%;
  justify-content: center;
  align-content: center;
}

/* Hébergement Marseille */

.marseille {
  width: 100vw;
  height: auto;
  background-color: white;
  flex-direction: row;
}
.gallery1 {
  width: 100vw;
  height: auto;
  min-height: 1440px;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
}

.photo_row1 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.case_1 {
  width: 90%;
  margin: 0 10% 0;
  flex-direction: column;
  justify-content: center;
}

.photo_row2 {
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

/* Section Acitivés*/
.activity {
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
}

#ancre {
  padding-top: 60px;
  padding-left: 5%;
}

.gallery3 {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  min-height: 485px;
  width: 100%;
  flex-direction: column;
  padding: 50px 0 50px 30px;
  margin-top: 20px;
}

.wrap2 {
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.bloc-footer {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
}

.bloc-footer h3 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
}

.bloc-footer li {
  line-height: 2;
}

.liste li {
  padding-top: 0;
}
