@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}

body{
  padding-bottom: 218px;
}

main{
  overflow: scroll;
  margin-left: 55px;
  margin-bottom: 60px;
  overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

/* header */
header {
    height: 80px;
    padding-bottom: 50px;    
}

.logo {
    float: left;
    width: 100px;
    padding-top: 53px;
}

.contenu-header {
  float: right;
  width: 480px;
  height: 80px;
  box-sizing: border-box;
  margin-right: 77px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  
}

li{
  padding: 50px 24px 0 27px; 
}

.contenu-header li>a:hover{
  border-top: 10px blue solid;
  padding: 50px 24px 0 27px;
}

a{
  text-decoration: none;
}


/* titres du site */

.hebergement h1 {
    padding-bottom: 16px;
}

.hebergement p{
  margin-bottom: 19px;
}

/* Bar de recherche */

.wrap {
    width: 421px;
    height: 50px;
}

form{
    display: flex;
    flex-direction: row;
}

button{
  font-size: 1.2em;
  font-family: "Raleway";
  font-weight: bold;
}
.search {
    display: flex;
    flex-direction: row;
}

.city-search{
  width: 235px;
  border: 2px solid #F2F2F2;
}

input::placeholder{
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 16px;
}
button{
    background-color: #0065FC;
    color: white;
    width: 133px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    border: 0;
}

.pic-gps {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    color:black;
    border-radius: 20px 0 0 20px;
}

.pic-gps i{
    padding: 15px 20px 15px;
}



/* info */
.info{
  width: 100vw;
  height: 24px;
 margin-top: 37px;
 display: flex;
 flex-direction: row;
}

.icon_info{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color:#0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info>p{
  vertical-align: middle;
}

/* barre de filtration */

.filtration{
  width: 930px;
  margin: 20px 0 37px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

  .filtration h3{
    padding-right: 33px;
  }

  .filtername{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  

  .icon_filtre{
    width: 53px;
    height: 53px;
    background-color: #DEEBFF;
    line-height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    color:#0065FC;
  }

  .bulle1{
    width: 193px;
    height: 47px;
    margin-right: 25px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .bulle2{
    width: 150px;
    height: 50px;
    margin-right: 25px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .bulle3{
    width: 183px;
    height: 50px;
    margin-right: 25px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .bulle4{
    width: 243px;
    height: 50px;
    background-color:white;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  
/* Logement Partie 1 */

.logement{
    display: flex;
    flex-direction: row;
  }
  
  .logement,h2{
    padding: 46px 0 23px;
    font-size: 22px;
  }
  
  .marseille {
    width:875px;
    height: 625px;
    padding: 0 40px 0;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
  }
  
  .gallery1 {
    height: 480px;
    box-sizing: border-box;
  }
  
.photo_row1{
  display: flex;
  flex-direction: row;
}

.photo_row2{
  display: flex;
  flex-direction: row;
}
  .case1{
    width: 245px;
    height: 200px;
    padding: 5px 5px 10px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
    filter: drop-shadow(4px 5px 2px #a9a9ac);
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 12px;
  }

.case1 img {
      width: 235px;
      height: 115px;
      padding: 5px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
  }

.more{
  padding-bottom: 50px;
}
  
/* Logement Partie 2 */
  
.popular {
  width:420px;
  height: 625px;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.toplist>h2{
  padding: 46px 119px 26px 37px;
}

.toplist{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.gallery2 {
  height: 545px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.case2{
  width: 344px;
  height: 145px;
  background-color: white;
  border-radius: 20px;
  box-sizing: content-box;
  display: flex;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
}

.border>img{
  width: 127px;
  height: 134px;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.prices{
  width: 176px;
  height: 145px;
  padding-top: 18px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.stars{
  display: flex;
  flex-direction: row;
  color:#0065FC;

}

/* Section Acitivés */

.activity {
  padding-top: 65px;
}

.activity>h3{
  padding-bottom: 28px;
}

.gallery3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activ_marseille{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.casehaute{
  width: 303px;
  height: 445px;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
  display: flex;
  flex-direction: column;
}

.casehaute>p{
  padding-top: 22px;
  padding-left: 15px;
}

.casebasse>p{
  padding-top: 23px;
  padding-left: 20px;
}

.pichaute{
  width: 303px;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.casebasse{
  width: 302px;
  height: 235px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
}

.picbasse{
  width: 302px;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}



/* footer */
footer {
    background-color: #F2F2F2;
    width: 100vw;
    height: 218px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-footer {
    width: 1070px;
    padding-top: 50px;
    padding-left: 50px;
    
}

.liste {
    display: flex;
    flex-direction: column;
}
.liste a {
    padding-top: 30px;
}

.liste li{
    padding-top: 20px;
}
