@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
}

html {
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

main {
  overflow: scroll;
  margin-left: 55px;
  padding-bottom: 60px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

/* ---------------- Header ---------------- */
header {
  padding-left: 55px;
  height: 80px;
  padding-bottom: 50px;
}

.logo img {
  float: left;
  width: 100px;
  padding-top: 53px;
}

nav {
  float: right;
  width: 480px;
  height: 80px;

  margin-right: 55px;
  display: flex;
}

ul {
  height: 68px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.head li {
  height: 68px;
  display: flex;
}

ul a {
  text-align: center;
}

.head a {
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
  padding-left: 28px;
  padding-right: 22px;
  border-top: 3px white solid;
}

.head a:hover {
  border-top: 3px #0065fc solid;
  color: #0065fc;
}

.sign a {
  font-weight: bold;
  color: #0065fc;
}

/* ---------------- Titres du site ---------------- */

.hebergement h1 {
  padding-bottom: 16px;
  font-size: 1.4em;
}

.hebergement p {
  margin-bottom: 19px;
  font-size: 1em;
}

/* ---------------- Bar de recherche ---------------- */

.wrap {
  width: 421px;
  height: 50px;
}

form {
  display: flex;
  flex-direction: row;
}

button {
  font-size: 1.2em;
  font-family: "Raleway";
  font-weight: bold;
}

.search {
  display: flex;
  flex-direction: row;
}

.city-search {
  width: 235px;
  border: 2px solid #f2f2f2;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 16px;
}

button {
  background-color: #0065fc;
  color: white;
  width: 133px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  border: 0;
}

.pic-gps {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  color: black;
  border-radius: 20px 0 0 20px;
}

.pic-gps i {
  padding: 15px 20px 15px;
}

/* ---------------- Barre de filtration ---------------- */

.filtration {
  width: 930px;
  margin: 30px 0 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 800;
}

.filtration h3 {
  padding-right: 33px;
}

.bulles {
  display: flex;
  flex-direction: row;
}

.filtername {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.icon_filtre {
  background-color: #deebff;
  line-height: 16px;
  color: #0065fc;

  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: -2px;
}

.bulle1 {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  transform: scale(1);
  width: 193px;
  height: 47px;
  margin-right: 25px;
  background-color: white;
  flex-direction: row;
  align-items: baseline;
  transform: scale(1);
}

.bulle1:hover,
.bulle2:hover,
.bulle3:hover,
.bulle4:hover {
  transition: ease-in 400ms;
  background-color: #deebff;
}

.bulle2 {
  width: 150px;
  height: 47px;
  margin-right: 25px;
  background-color: white;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.bulle3 {
  width: 183px;
  height: 47px;
  margin-right: 25px;
  background-color: white;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.bulle4 {
  width: 243px;
  height: 47px;
  background-color: white;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* ---------------- Info ---------------- */
.info {
  width: 100vw;
  height: 24px;
  margin-top: 37px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
}

.icon_info {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-info {
  height: 10px;
  align-items: center;
}

.info p {
  vertical-align: middle;
}

/* ---------------- Hébergement Partie 1 ---------------- */

.logement {
  display: flex;
  flex-direction: row;
}

.logement h2 {
  padding: 46px 40px 23px;
  font-size: 22px;
}

.marseille {
  width: 880px;
  height: 625px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 40px;
}

.gallery1 {
  width: 100%;
  height: 430px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.photo_row1 {
  width: 800px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo_row2 {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.case_1 {
  width: 246px;
  height: 200px;
  background-color: white;
  border-radius: 20px;

  filter: drop-shadow(4px 5px 2px #a9a9ac);
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 12px;
}

.case_1:hover {
  cursor: pointer;
}
.case_1 > img {
  width: 235px;
  height: 115px;
  padding: 5px 5px 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.prices1 {
  width: 176px;
  height: 145px;
  padding-top: 13px;
  padding-right: 20px;
  text-align: left;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.more {
  padding: 45px 0 50px 40px;
  font-size: 16px;
  font-weight: bold;
}

.fa-star {
  color: #f2f2f2;
}

/* ---------------- Logement Partie 2 ---------------- */

.popular {
  width: 422px;
  height: 625px;
  margin-right: 50px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.toplist > h2 {
  padding: 46px 119px 26px 37px;
}

.toplist {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.gallery2 {
  height: 545px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo_row3 {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.case2 {
  width: 342px;
  height: 145px;
  background-color: white;
  border-radius: 20px;
  box-sizing: content-box;
  display: flex;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
}

.case2:hover {
  cursor: pointer;
}

.case2 > img {
  width: 127px;
  height: 134px;
  padding: 5px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.blue {
  color: #0065fc;
}

.prices2 {
  padding: 18px 47px 12px 20px;
  margin-bottom: 44px;
  line-height: normal;
  font-size: 12px;
}

.prices2 p {
  padding-top: 15px;
}

.prices2 .stars {
  padding-top: 45px;
}
/* ---------------- Section Acitivés ---------------- */

.activity {
  padding-top: 65px;
}

.activity > h3 {
  padding-bottom: 28px;
}

.gallery3 {
  width: 1340px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.activ_marseille {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.casehaute {
  width: 302px;
  height: 445px;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
  display: flex;
  flex-direction: column;
}

.casehaute:hover {
  cursor: pointer;
}

.casehaute p {
  padding-top: 22px;
  padding-left: 15px;
}

.casebasse p {
  padding-top: 23px;
  padding-left: 20px;
}

.pichaute {
  width: 303px;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.casebasse {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 1px 5px #a9a9ac);
}

.case-1 {
  width: 302px;
  height: 235px;
  margin-bottom: 43px;
  background-color: white;
  border-radius: 20px;
}

.case-1:hover {
  cursor: pointer;
}

.titre_case {
  padding-left: 20px;
  padding-top: 23px;
}

.case-2 {
  width: 302px;
  height: 166px;
  background-color: white;
  border-radius: 20px;
}

.case-2:hover {
  cursor: pointer;
}

.case-3 {
  width: 302px;
  height: 195px;
  margin-bottom: 41px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(4px 5px 2px #a9a9ac);
}

.case-3:hover {
  cursor: pointer;
}

.case-4 {
  width: 302px;
  height: 208px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(4px 5px 2px #a9a9ac);
}
.case-4:hover {
  cursor: pointer;
}

.picbasse1 {
  width: 302px;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.picbasse1:hover {
  cursor: pointer;
}

.picbasse2 {
  width: 302px;
  height: 110px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.picbasse3 {
  width: 302px;
  height: 139px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.picbasse4 {
  width: 302px;
  height: 153px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

/* ---------------- Footer ---------------- */
footer {
  width: 100vw;
  min-height: 218px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.wrap2 {
  width: 1030px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bloc-footer {
  padding-top: 50px;
  padding-left: 50px;
}

.liste {
  display: flex;
  flex-direction: column;
}

.liste li {
  padding-top: 15px;
}
