/* Ecrans la taille inférieure à 900px */

@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  main {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: auto;
  }

  /* ---------------- header ---------------- */

  header {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
  }

  .logo {
    width: 35%;
    height: auto;
    padding: 5% 5% 1%;
    margin: 0;
    float: left;
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 40px;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .head {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    align-items: center;
  }

  .head ul {
    width: 100%;
    padding: 0;
  }

  .head li {
    flex-basis: 50%;

    text-align: center;
    flex-direction: column-reverse;
    height: auto;
  }

  .menu {
    padding-bottom: 5%;
    border-top: none;
    font-weight: 500;
    font-size: 1.2em;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }

  .menu:hover {
    padding-bottom: 5%;
    border-bottom: 3px #0065fc solid;
    border-top: 3px transparent solid;
    color: #0065fc;
  }

  .sign a {
    padding-right: 15%;
    text-align: end;
    font-size: 1.2em;
    border-bottom: 3px transparent solid;
  }

  .sign a:hover {
    padding-right: 15%;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }

  /* ---------------- Titres entête ---------------- */

  .hebergement {
    flex-direction: column;
    margin: 10% 5% 5%;
    font-size: 1rem;
  }

  /* ---------------- Recherche ---------------- */
  .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .city-search {
    width: 80%;
    height: 50px;
  }

  form {
    width: auto;
    box-sizing: border-box;
  }
  button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .search2 {
    display: none;
  }

  .search1 {
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  /* ---------------- Filtres ---------------- */

  .filtration {
    padding: 0 5% 0;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .filtration h3 {
    padding-right: 2%;
    font-weight: bold;
  }

  .bulles {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .bulle1,
  .bulle2,
  .bulle3,
  .bulle4 {
    margin: 14px 14px 0 0;
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    transform: scale(1);
  }

  /*  ----------------  Partie logement  ----------------  */

  /* PArtie info */

  .info {
    padding: 0 5% 0;
    margin-top: 0;
  }

  /* ----------------  Logement Populaire ----------------  */

  .logement {
    width: 100%;
    height: auto;
    padding: 0;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .popular {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .fa-chart-line {
    float: right;
    height: auto;
  }

  .gallery2 {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
  }

  .photo_row3 {
    width: 100%;
    height: auto;
    padding: 0 5% 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .case2 {
    width: 100%;
    height: 190px;
    margin: 0 5% 5%;
    justify-content: center;
    flex-direction: row;
  }

  .case2 img {
    width: 40%;
    height: auto;
    padding: 5px;
    border-radius: 20px 0 0 20px;
  }

  /* ---------------- Hébergement Marseille ---------------- */

  .marseille {
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: column;
  }

  .marseille h2 {
    padding: 10% 5% 5%;
  }

  .gallery1 {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }

  .photo_row1,
  .photo_row2 {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .case_1 {
    width: 90%;
    height: auto;
    margin: 0 0 5%;
    justify-content: center;
    flex-direction: column;
  }

  .case_1 img {
    width: 100%;
    padding: 5px 5px 0;
    border-radius: 20px 20px 0 0;
  }

  .more {
    padding: 5%;
    margin: 0;
    font-size: 1.25em;
  }
  /* ---------------- Section Acitivés ---------------- */
  .activity {
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #ancre {
    padding: 0 5% 5%;
    font-size: 1.25em;
  }

  .gallery3 {
    width: 100vw;
    height: auto;
    margin: 0;
    padding-bottom: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .casehaute,
  .casebasse {
    width: 90%;
    height: auto;
    margin-bottom: 5%;
    justify-content: center;
    flex-direction: column;
  }

  .activ_marseille {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .case-1,
  .case-2,
  .case-3,
  .case-4 {
    width: 100%;
    height: 190px;
    margin-bottom: 5%;
    justify-content: space-between;
  }

  .picbasse1,
  .picbasse2,
  .picbasse3,
  .picbasse4,
  .pichaute {
    width: 100%;
    height: 140px;
  }

  /* ---------------- footer ----------------*/
  footer {
    width: 100%;
    min-height: 485px;
    width: 100%;
    flex-direction: column;
    padding: 0% 0 5% 3%;
  }

  .wrap2 {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 5%;
  }
  .bloc-footer {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
  }

  .bloc-footer h3 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
  }

  .bloc-footer li {
    line-height: 2;
  }

  .liste li {
    padding-top: 0;
  }
}
