/*écrans la taille inférieure à 780px*/
@media screen and (max-width: 500px) {
  header {
    height: 90px;
    width: auto;
  }

  .head {
    height: 39px;
  }

  .hebergement {
    padding: 35px 63px 35px 20px;
  }

  .logo {
    width: 95px;
    height: auto;
    padding-left: 20px;
  }
  .sign {
    width: 50vw;
  }

  footer {
    width: auto;
    height: 486 px;
  }
}
